.degrade-ifms {
  background: rgba(129, 4, 4, 0);
  background: linear-gradient(
    180deg,
    rgb(221, 39, 69) 0%,
    rgb(70, 31, 31) 100%
  );
}
.azul{
  color: rgb(51, 222, 245);
}
.verde{
  color: rgb(64, 248, 156);
}
.text-justify{
  text-align: justify;
}
.primeira-linha{
  text-indent: 2em;
}
